[2015-09-25 15:09] clintkitson opened #2 "Failure scenarios"
We need to ensure that we have covered the recovery scenarios considering the information we have in 0.23.0.

Some of which can be
- Agent crashes, recovers, tasks still running
- Agent crashes, recovers, some tasks finished
  ..

[2015-10-20 16:52] clintkitson commented on #2
This was covered in the 0.1 release

[2015-10-20 16:52] #2 closed, assigned to nobody

[2015-10-30 20:19] cantbewong opened #15 "qualify for Mesos v0.24.0, adapt as needed"

[2015-10-30 20:20] cantbewong opened #16 "qualify for Mesos v0.25.0, adapt as needed"

[2015-10-30 20:20] cantbewong opened #17 "qualify for Mesos v0.26.0, adapt as needed"

[2015-10-30 20:24] cantbewong opened #18 "refactor mount list file IO to use Mesos checkpoint code/template"
Code currently uses internal disk IO using an isolator specific implementation based on C++ standard library. Using the existing Mesos slave checkpoint implementation is expected to eliminate/reduce code by reusing an existing, proven internal Mesos component

[2015-10-30 20:27] cantbewong opened #19 "refactor mount list file implementation to use a google protocol buffers implementation instead of picoJSON"
Google protocol buffer is the standard mechanism within Mesos for rendering and passing configuration and parameters. It is likely to better handle versioning and schema definition.

[2015-10-30 20:32] cantbewong opened #20 "utilize slave work_dir for mount list file location, instead of a dedicated isolator parameter"
In the v0.23.0 version of Mesos, the slave work directory was not readily available to an isolator implemented as a module. It is expected that this (slave work directory) will be available in an upcoming version of Mesos. When it is available, the existing isolator parameter will be deprecated, and the slave work directory will automatically be used instead. This will simplify configuration of th

[2015-10-30 20:39] cantbewong opened #21 "Allow an external mount to be exposed to a specified location within a containerized application"
In the v0.23.0 release the DVDI isolator a mount is exposed to other applications running on the slave. Reuse code from the Mesos Containerizer shared file system isolator to impose isolation between mount points on an agent node.

[2015-10-30 20:43] cantbewong opened #22 "Accept specification of container mount point"
This is related to and dependent on issue #21.
Mount point specification will be exactly like that used by the existing Mesos containerizer shared filesystem isolator

[2015-10-30 20:47] cantbewong opened #23 "Support pre-emptive mounts of an external storage volume as an option"
Some storage platforms, and some/most file systems prevent concurrent mounts of a volume from multiple users.

If a Mesos agent mount a volume and abnormally terminates, and the same or an alternate workload subsequently tries to mount the volume, without a dismount from the original location, the second mount can potentially fail. Some storage platforms have a mechanism for supporting a "pre-empt

[2015-11-02 22:50] cantbewong opened #24 "Apply style recommendations from code review"
limit code to 80 characters per line.

All comments should end with a punctuation mark.

Capitalize the beginning of comments.

Make Error messages generally begin with capital letters, they should not end with punctuation marks.

Make a bit more liberal use of carriage returns to provide vertical spacing. I would have a look at the Mesos code and try to emulate the patterns used there: often a bl

[2015-11-06 18:14] cantbewong commented on #18
A Jira feature req is open to provide checkpointing through an API. We will look into this when it progresses. In the meantime the plan is altered to simply utilizze the existing checkpoint code via #include

[2015-11-06 18:14] #18 closed, assigned to davidvonthenen

[2015-11-09 22:49] davidvonthenen commented on #15
There is a pending pull request for resolution of this issue.

[2015-11-09 22:49] davidvonthenen commented on #15
Pull Request: https://github.com/emccode/mesos-module-dvdi/pull/29

[2015-11-10 23:15] #15 closed, assigned to davidvonthenen

[2015-11-23 16:53] clintkitson commented on #19
https://github.com/emccode/mesos-module-dvdi/commit/81fbbae1876521ec1c1a36bee43ba11c4a6b9dbe

[2015-11-23 16:53] #19 closed, assigned to davidvonthenen

[2015-11-23 16:54] #16 closed, assigned to davidvonthenen

[2015-11-23 16:59] clintkitson commented on #23
Documentation update to show how to do it with REX-Ray 0.3.

[2015-11-23 17:18] clintkitson commented on #23
https://github.com/clintonskitson/rexray/tree/feature/preemption

[2015-11-23 19:01] cantbewong opened #41 "Support and utilize new (upcoming) Mesos protobuf specification for external volume consumption"

[2015-11-23 19:03] cantbewong opened #42 "Support Mesos v0.28.0"

[2015-11-23 19:22] cantbewong opened #43 "Qualify for Mesos 0.27.0, adapt as needed"

[2015-11-23 20:21] cantbewong commented on #41
dependent on Mesos publication and release of protobuf spec

[2015-11-30 18:02] cantbewong commented on #20
This is a link to the Jira ticket for adding access to the agents command line flags to the isolator module interface:
https://issues.apache.org/jira/browse/MESOS-4003
This is currently targeted for Mesos 0.27.0 so resolution of this issue is retarget for isolator 0.4.1

[2015-11-30 18:56] davidvonthenen opened #44 "Single Code base to Support Versions going back to 0.23.0"
Either via a series of ifdefs or some type of abstraction interface, support versions of mesos going back to 0.23.0

[2015-12-09 05:20] davidvonthenen commented on #44
Coding I believe is complete.... just need to verify and then integrate with CI

[2015-12-09 17:40] clintkitson commented on #44
Where's the link to the commit?

[2015-12-09 17:47] davidvonthenen commented on #44
I havent tested yet which is why it hasnt been committed yet. The testing on multiple versions of mesos and the integration with CI is going to be the tricky and time consuming part. I should have the PR by no later than the end of the week.

[2015-12-09 21:57] clintkitson commented on #44
But the latest commit you are working on should be stashed in your forked repo.

[2015-12-10 23:03] davidvonthenen commented on #44
PR merged
https://github.com/emccode/mesos-module-dvdi/pull/49

[2015-12-10 23:03] #44 closed, assigned to davidvonthenen

[2015-12-11 00:45] cantbewong commented on #21
Code checked in and tested with 0.23.1, 0.24.1, and 0.25.0 to be incorporated in next release

[2015-12-11 00:45] #21 closed, assigned to cantbewong

[2015-12-11 00:48] cantbewong commented on #22
checked in code to accept in-container mount point in new environment variable, modeled after existing environment variables. Tested against 0.231., 0.24.1, and 0.25.0. Will be incorporated in next release

[2015-12-11 00:48] #22 closed, assigned to cantbewong

[2015-12-11 00:50] cantbewong commented on #20
Changing plan to this:
since the `work_dir` is defined at the command line every time the agent is run anyway, we will just give it to `DockerVolumeDriverIsolator::create()` via the JSON string passed to the `—modules` flag?

more specifically, the ‘Parameters’ passed to —modules flag

[2015-12-11 11:15] heww opened #51 "Is it support docker container in this module?"
Hi, I install this module in mesos 0.25.0 with rexray 0.3.0 on OpenStack.

I test that  example in README, then cinder volume is created.

But, I test with docker container in mesos , cinder volume is not created at all. Here is my json file deploy by Marathon 0.13.0. And I want to know that this module whether support docker container at this moment.

[code]

[2015-12-11 14:58] clintkitson commented on #51
Hello!

The Docker containerizer does not invoke the dvdi module.  Since Docker has
volume functionality natively, they are different parameters that are set.

See following blog post.

http://blog.emccode.com/2015/08/28/run-your-stateful-apps-with-mesos-and-docker/

On Friday, December 11, 2015, He Weiwei notifications@github.com wrote:

[2015-12-12 01:44] heww commented on #51
I test following the blog, it's ok, thanks!

[2015-12-12 01:44] #51 closed, assigned to nobody

[2015-12-12 17:28] cantbewong commented on #20
existing code using work_dir should be refactored to use stout::path

[2015-12-12 22:25] #24 closed, assigned to cantbewong

[2015-12-13 08:55] cantbewong opened #53 "resolve container isolation behavior for special use cases"
This describes desired behavior:
1. What happens if the container path is not specified or is empty?
no isolation, and mount is visible to all tasks on agent node
1. What happens is container path is relative (no / prefix)?
   failure returned from prepare()
2. Currently the isolator allow multiple tasks to ask for a mount of the same volume. When this happens, all tasks share the volume.
   What

[2015-12-13 15:21] clintkitson commented on #53
If a container path is specified for the same volume from multiple tasks
then the assumption is that the containers should each have access to that
volume in the specified container path.

The isolation is relative to the main container file system.  Additive
volumes should be able to be shared between containers.

On Sunday, December 13, 2015, Steve Wong notifications@github.com wrote:

[2015-12-13 15:34] clintkitson commented on #53
Just thought of something.  In docker land the sharing of a volume
typically possible because you can specify the volume to a specific docker
runtime.  Also there is an explicit flag to allow it as well by specifying
volumesfrom another container.

Since it's not possible today in Mesos to target a specific agent based on
where volumes are currently mounted then this would be invalid.

It could be

[2015-12-15 00:27] cantbewong commented on #53
closed by last PR

[2015-12-15 00:27] #53 closed, assigned to cantbewong

[2015-12-15 00:28] cantbewong commented on #20
Closed by last PR

[2015-12-15 00:28] #20 closed, assigned to cantbewong

[2015-12-15 01:32] cantbewong commented on #23
closed by merge of last PR

[2015-12-15 01:32] #23 closed, assigned to davidvonthenen

[2016-01-12 10:58] osallou opened #62 "question: what is the volume life cycle"
Docker volume plugin has Create/Mount/Unmount/Delete operations.

Will all those methods be called on container startup/destroy ? At which step of the mesos container life cycle?

Thanks

[2016-01-12 14:31] osallou opened #63 "how to debug"
Hi,
how can I debug the fact that mesos slave does not call the module ?
Using dvdcli is fine.

I launched my slave with:

[code]

I can see at startup:

[code]

When I call my docker plugin with dvdcli, I can see my plugin is activated etc... However, when I execute a job, nothing happens.
I have set env variables in mesos offer prototype, in commandinfo, though I cannot check they are correctly

[2016-01-12 15:06] osallou commented on #63
Additional info:

I can see at startup the module loading

[code]

[2016-01-12 15:26] davidvonthenen commented on #62
Hi,

When the a request for a volume is made, the following will take place:
1) if the volume doesnt exist by name, the volume will be created with the give attributes and then mounted.
2) if the volume already exists, all the assoicated "create" parameters will be ignored and the volume will be mounted.

When the mesos task is destroyed, the volume will simply be unmounted. This facilitates reuse

[2016-01-12 15:30] clintkitson commented on #63
I am assuming that when a task is launched that you do see it start on this
slave?  Can you share the Json for the task or application?

On Tuesday, January 12, 2016, Olivier Sallou notifications@github.com
wrote:

[2016-01-12 15:32] davidvonthenen commented on #63
Hi,

Seems like you answered your own question. We have all our logging inline with the normal agent log. You can find our debug info by looking for the CPP file with its corresponding line number as seen below.

I0112 15:01:01.919965  9762 **docker_volume_driver_isolator.cpp:710**] Loading Docker Volume Driver Isolator module

If you have a specific error, please attach a mesos agent log file, te

[2016-01-12 15:33] osallou commented on #63
I have only 1 slave, and can see it though mesos webui.
How can I get the json of the task on mesos side ? I use my own mesos framework (in python) and submit the task via an Offer.
Or do you mean the docker inspect result for the task?

[2016-01-12 15:38] osallou commented on #63
@dvonthenen  I have my own Docker volume plugin (in devpt), and as i said it works with dvdcli. Issue is only when ran via my mesos framework. I mount a local storage, but whatever it is, my Docker volume plugin is never called/triggered (no error, just not called).

[2016-01-12 15:48] clintkitson commented on #63
Quick suggestion here would be to disable to Docker containerizer.  If your
task ceases to launch all together then we know you're issuing the task to
the wrong containerizer.

On Tuesday, January 12, 2016, Olivier Sallou notifications@github.com
wrote:

[2016-01-12 15:57] osallou commented on #63
If I disable the docker containerizer on slave, task fail with

[code]

[2016-01-12 16:02] clintkitson commented on #63
So there's the problem I believe.  Your task is launching using Docker
containerizer so it never makes its way to our isolator.

For this case the volume driver would be used natively through Docker.  See
the following docs for the Marathon framework example of using native
parameters as key values.

http://rexray.readthedocs.org/en/stable/user-guide/third-party/mesos/

On Tuesday, January 12, 201

[2016-01-12 16:07] osallou commented on #63
ok, I understand. There is an issue however.
Suggested use of parameters:

[code]

parameters are strongly discouraged in mesos interface (for future compatiblity). In addition, the volume-driver command option of Docker is deprecated. Though it still works, it will disappear in future release, requesting the use of _docker volume_ commands before and after the _docker run_ commands.

This means t

[2016-01-12 16:13] clintkitson commented on #63
Yes the long term approach is to use the mesos modules and isolators.  You
cans also modify which containerizer you are using to be able to leverage
mesos-module-dvdi today to align to future strategies.

On Tuesday, January 12, 2016, Olivier Sallou notifications@github.com
wrote:

[2016-01-12 16:52] davidvonthenen commented on #17
PR Merged:
https://github.com/emccode/mesos-module-dvdi/pull/64

[2016-01-12 19:27] clintkitson commented on #63
If you are satisfied can you close the issue @osallou?

[2016-01-12 21:53] #63 closed, assigned to nobody

[2016-01-12 21:58] #17 closed, assigned to nobody

[2016-01-29 19:49] akamalov opened #68 "/etc/mesos-slave/modules"
*\* Environment **

[code]

Built DVDI Isolator module for **Mesos 0.26.0** as per documentation.  Trying to load the load the module on Mesos-slave upon start:

File: **_/etc/mesos-slave/modules**_

[code]

File **_/etc/mesos-slave/isolation**_

[code]

Trying to start mesos-slave:

[code]

Unfortunately it is failing on startup:

[code]

**_error log entries**_

[code]

Any clues where I should

[2016-01-29 19:59] akamalov commented on #68
Tried with the path to json file:

<b> /etc/mesos-slave/modules</b>

``` file:///usr/lib/dvdi-mod.json ```

Still no go :(

[2016-01-29 20:13] akamalov commented on #68
Reopening with updated problem description...

[2016-01-29 20:29] akamalov commented on #68
Also, there is a bug with the only available Mesos Docker module 0.23.0:

[code]

[2016-01-29 21:20] cantbewong commented on #68
Regarding previous comment, There are Mesos prebuilt Docker modules for 0.24.1, 0.25.0 and 0.26.0 here in my personal docker hub repo:
https://hub.docker.com/r/cantbewong/mesos-build-module-dev/tags/

But the docker file in this github repo will let you build your own, and unless you fully trust the source, this is thought by many to be prudent because essentially you are taking a binary built by

[2016-01-29 21:21] akamalov commented on #68
Already did. Getting error as far as loading a library.

[2016-01-29 21:22] akamalov commented on #68
Error loading modules: Error opening library: '/usr/lib/dvdi_isolator-0.26.0.so': Could not load library '/usr/lib/dvdi_isolator-0.26.0.so': /usr/lib/dvdi_isolator-0.26.0.so: cannot dynamically load executable

[2016-01-29 21:43] cantbewong commented on #68
could you check that the .so file has execute permission enabled:

ubuntu@ec2-52-33-34-141:~$ ls -la /usr/lib/libmesos_dvdi_isolator-0.26.0.so
-rwxr-xr-x 1 root root 3478979 Dec 15 05:37 /usr/lib/libmesos_dvdi_isolator-0.26.0.so

[2016-01-29 21:54] cantbewong commented on #68
Can you dump and post the content of the json file, in particular it contains a version suffix that I sometimes have forgotten to update:

ubuntu@ec2-52-33-34-141:~$ cat /usr/lib/dvdi-mod.json
{
   "libraries": [
     {
       "file": "/usr/lib/libmesos_dvdi_isolator-0.26.0.so",
       "modules": [
         {
           "name": "com_emccode_mesos_DockerVolumeDriverIsolator"
         }
       ]

[2016-01-29 22:32] akamalov commented on #68
Execute bit is on:

ls -ld dvdi_isolator-0.26.0.so
-rwxr-xr-x 1 root root 4685688 Jan 29 12:58 dvdi_isolator-0.26.0.so

Content of dvdi-mod.json:

{
   "libraries": [
     {
       "file": "/usr/lib/dvdi_isolator-0.26.0.so",
       "modules": [
         {
           "name": "com_emccode_mesos_DockerVolumeDriverIsolator"
         }
       ]
     }
   ]
 }

[2016-01-29 22:36] akamalov commented on #68
By the way, when compiled, it gets compiled as "dvdi_isolator" and not "libmesos_dvdi_isolator-0.26.so".

Example:

[code]

[2016-01-29 22:46] cantbewong commented on #68
So when I build at a command line within the Docker container, I have been doing this:

cd /isolator
export ISOLATOR_VERSION=0.26.0
export LD_LIBRARY_PATH=LD_LIBRARY_PATH:/usr/local/lib
./bootstrap
rm -Rf build
mkdir build
cd build
../configure --with-mesos-root=/mesos --with-mesos-build-dir=/mesos
make all

The ISOLATOR_VERSION environment variable is what appends the version.
If left empty, this

[2016-01-29 22:54] cantbewong commented on #68
after doing the above steps, I get this content in the .libs directory under the build directory:

[code]

[2016-01-30 00:32] cantbewong commented on #68
Do you have SELinux engaged in enforcing mode?

[2016-01-30 01:08] davidvonthenen commented on #68
I stood the following standalone Mesos node in Amazon EC2:
OS: RHEL 7.2
Apache Mesos: 0.26.0
Rexray: 0.3.1
DVDCLI: 0.1.0
Mesos DVDI Isolator: 0.4.0 (https://github.com/emccode/mesos-module-dvdi/releases/tag/v0.4.0)

I had no problems dispatching a task that created 2 new volumes. Have you tried using the binaries posted in the 0.4.0 release? Or are locked into building your own?

Also did you inst

[2016-01-30 01:25] akamalov commented on #68
Hmm..this is interesting. Here is my version:

[root@node1 mesos-module-dvdi]# cat VERSION
0.4.1-dev
[root@node1 mesos-module-dvdi]#

[2016-01-30 01:25] akamalov commented on #68
Let me try with 0.4.0 release...

[2016-01-30 01:44] akamalov commented on #68
Can anyone post me their /etc/mesos-slave/modules file ?

[2016-01-30 01:46] akamalov commented on #68
Yep, containerizer is enabled for docker. I will purge try to rebuild it

[2016-01-30 02:13] akamalov commented on #68
SELInux is disabled. Tried to pull the pre-built binary off the site. Tried to run with it. Getting the following error:

[code]

[2016-01-30 03:04] cantbewong commented on #68
ubuntu@ec2-52-33-34-141:~$ cat /etc/mesos-slave/modules
file:///usr/lib/dvdi-mod.json

[2016-01-30 03:14] akamalov commented on #68
Ok, it worked. I went ahead and instead of building it on my own downloaded off this Git. Don't know why would the version I built didn't work (however it compiled fine....)

Thank you very much indeed everyone for helping!!!

Alex

[2016-01-30 03:14] #68 closed, assigned to nobody

[2016-01-30 03:17] cantbewong commented on #68
Here are expected results:
1) get .so
ubuntu@ec2-52-33-34-141:/tmp$ wget https://github.com/emccode/mesos-module-dvdi/releases/download/v0.4.0/libmesos_dvdi_isolator-0.26.0.so
--2016-01-30 03:14:44--  https://github.com/emccode/mesos-module-dvdi/releases/download/v0.4.0/libmesos_dvdi_isolator-0.26.0.so
Resolving github.com (github.com)... 192.30.252.131
Connecting to github.com (github.com)|192.30

[2016-01-30 03:18] cantbewong commented on #68
put in my last comment before I saw yours

Is it possible build was done with this environment variable undefined?
export ISOLATOR_VERSION=0.26.0

build would complete but probably not work if this happened

[2016-01-30 04:02] akamalov commented on #68
It is a possibility! Thanks so much Steve!

Alex

On Fri, Jan 29, 2016 at 10:18 PM, Steve Wong notifications@github.com
wrote:

[2016-01-30 16:14] pradeepchhetri commented on #68
Can you please upload the working build for mesos-0.26.0 on github too ?

[2016-01-30 17:22] akamalov commented on #68
Are you talking about the module ? If yes, then the module is available here:

https://github.com/emccode/mesos-module-dvdi/releases/tag/v0.4.0

Alex

[2016-01-30 22:21] cantbewong commented on #68
pradeepchhetri, I expect that going forward we will publish future releases with centos binaries in addition to ubuntu binaries. In the meantime, we have a report that the ubuntu build does run on centos/redhat

[2016-01-30 22:34] pradeepchhetri commented on #68
Thank you Steve. I am having a weird error after upgrading my mesos version to 0.26.0 from 0.25.0 although i downloaded the `libmesos_dvdi_isolator-0.26.0.so` file as well.

I am getting the following error while starting jenkins framework over mesos:

[code]

I tried rebuilding the module myself for mesos-0.26.0 but still getting the same error. Not sure how to debug.

[2016-01-30 23:06] akamalov commented on #68
Try to re-download it. Also, don't know if matters: try to set execute bit
on.

Alex

On Sat, Jan 30, 2016 at 5:34 PM, Pradeep Chhetri notifications@github.com
wrote:

[2016-01-31 17:10] davidvonthenen commented on #62
Hi osallou,

Does this sufficient answer your questions? May I close this issue out?

Thanks!

[2016-01-31 17:54] osallou commented on #62
You can close the issue, thanks

Le dim. 31 janv. 2016 18:10, David vonThenen notifications@github.com a
écrit :

[2016-02-01 02:07] davidvonthenen commented on #62
No problem. If you have any other questions, you can stop by our codecommunity.slack.com channel and join #mesos.

[2016-02-01 02:07] #62 closed, assigned to nobody

[2016-02-01 16:54] akamalov opened #69 "Using DVDI Module with Docker Containers"
Greetings,

Wondering if someone can supply an example of a JSON file where Docker container would mount DVDI provided volume ? Let's say I want to  elasticsearch container to mount a volume called **elkvol001** as the **/data** provided by DVDI module. Something along the lines of this:

[code]

[2016-02-01 17:23] cantbewong commented on #69
The DVDI isolator is not used (or needed) for external volume mounts from Docker containers.
The DVDI isolator is for use with tasks utilizing the Mesos containerizer instead of the Docker containerizer. For various reasons, many Mesos users elect to use the MEsos containerizer instead of using Docker.

If you want to use Docker with external volume mounts, this works, it just doesn't use the DVDI

[2016-02-01 18:00] akamalov commented on #69
Steve, Thanks so much!!!

[2016-02-01 18:00] #69 closed, assigned to nobody

[2016-02-02 14:34] pradeepchhetri opened #70 "Build for mesos v0.27.0"
It will be nice if we can add support for building dvdi module with mesos v0.27.0.

[2016-02-02 17:05] davidvonthenen commented on #70
Yep, we are working on it. We are waiting for the official 27 binaries for qualification.

Already have an issue open for 0.27.0, you can find it here: https://github.com/emccode/mesos-module-dvdi/issues/43

[2016-02-08 17:45] cantbewong commented on #70
closing as a duplicate of issue 43

[2016-02-08 17:45] #70 closed, assigned to nobody

[2016-02-10 22:59] davidvonthenen commented on #43
Version 0.4.1 has been released which supports Mesos 0.27.0
https://github.com/emccode/mesos-module-dvdi/releases/tag/v0.4.1

[2016-02-10 22:59] #43 closed, assigned to nobody

[2016-02-19 15:38] DarinJ opened #74 "make fails to download subversion"
Bumping SVN_VER := 1.9.2 to SVN_VER := 1.9.3 solves the issue.

[2016-02-19 17:08] cantbewong commented on #74
Investigating, thanks

[2016-02-19 17:13] cantbewong commented on #74
Yes, looks like apache mirror no longer sources the 1.9.2 version
I will fix this

[2016-03-09 07:18] gyliu513 opened #80 "Make this as part of Mesos"
@cantbewong I'm planning to work on https://issues.apache.org/jira/browse/MESOS-4355 , this is exactly what you are doing now for this project, do you have any comments we make this upstream to mesos?

[2016-03-09 08:53] cantbewong commented on #80
I just added a comment to the jira that you should look at.

If you don't understand it, I would be happy to discuss.

FYI: I am located in the US Pacific timezone (Los Angeles)

I don't know where you are located, but I will be traveling to Mesosphere
in San Francisco next Wednesday if you are located there, perhaps we can
meet.

On Tue, Mar 8, 2016 at 11:18 PM, Guangya Liu notifications@github.c

[2016-03-09 09:18] gyliu513 commented on #80
Thanks  @cantbewong , I was located in China and planning to finish the design of MESOS-4355 recently, it would be great if you can work as a co-author of this project. If we can put this as an official isolator in Mesos, then it will be much easier to maintain this. ;-)

[2016-03-09 17:46] cantbewong commented on #80
yes, I would like to work on the project

On Wed, Mar 9, 2016 at 1:18 AM, Guangya Liu notifications@github.com
wrote:

[2016-03-10 02:03] gyliu513 commented on #80
Can you please share your email address with me so that we can communicate more via email? Thanks.

[2016-03-10 07:10] #80 closed, assigned to nobody

[2016-03-14 12:27] gyliu513 opened #81 "Create continer failed due to DVDI_VOLUME_NAME is not valid"
I was using 0.27.0 dvd driver and the env json is as following:
root@mesos002:~/src/mesos/27/mesos/build# cat /opt/env.json
{
  "DVDI_VOLUME_NAME": "123",
  "DVDI_VOLUME_DRIVER": "convoy"
}

I was always getting this error when launch a task
E0314 20:17:41.391485  2008 docker_volume_driver_isolator.cpp:485] Environment variable DVDI_VOLUME_NAME rejected because it's value contains prohibited chara

[2016-03-14 12:29] gyliu513 commented on #42
@cantbewong are you still planning to support 0.28? Or just merge this to mesos? Can you please show some of your idea here: https://docs.google.com/document/d/1uhi1lf1_sEmnl0HaqHUCsqPb9m9jOKbRlXYW1S-tZis/edit

[2016-03-14 20:25] cantbewong commented on #42
yes, we will continue support until the merge, and probably after too if
anything needs to be done for users of Mesos version 0.23 -0.27

And I expect we will support 0.28

On Mon, Mar 14, 2016 at 5:29 AM, Guangya Liu notifications@github.com
wrote:

[2016-03-14 20:34] cantbewong commented on #81
the checking is there to prevent injection attacks, and perhaps is too
strict I realized when I put it in that it restricts the character set to
and in particular probably prohibits non-English characters.

The fear was that some organizations enable non admin access to the
Marathon UI, and since the isolator invokes the DVDCLI as root, an
injection attack is theoretically possible.

I will be add

[2016-03-14 21:30] gyliu513 commented on #42
When will 0.28 support can be finished here?

[2016-03-15 18:07] davidvonthenen commented on #42
@jay-lau the support for 0.28.0 will be added right after it is released. There are votes for the 0.28.0 RC going on right now.

[2016-03-16 02:19] gyliu513 commented on #42
@dvonthenen  does the code for mesos-module-dvdi is finished or not? Can you please share it? I was working on the FS for https://issues.apache.org/jira/browse/MESOS-4355 and want to make the external volume management to Mesos. A draft fs is here: https://docs.google.com/document/d/1uhi1lf1_sEmnl0HaqHUCsqPb9m9jOKbRlXYW1S-tZis/edit

[2016-03-16 03:33] davidvonthenen commented on #42
@jay-lau I have not evaluated 0.28.0 yet so I dont know if there are code changes to be made. I usually dont start taking a look until the release is out in order to reduce spinning our tires.

[2016-03-16 05:21] gyliu513 commented on #42
@dvonthenen There are huge change in mesos containerizer and docker integration, the mesos containerizer will not depend on docker daemon to create containers. Please refer to https://issues.apache.org/jira/browse/MESOS-2840 for detail. I do hope you guys can work with me to update the document https://docs.google.com/document/d/1uhi1lf1_sEmnl0HaqHUCsqPb9m9jOKbRlXYW1S-tZis/edit# here for https://i

[2016-03-16 06:21] cantbewong commented on #42
I don't think the mesos containerizer has a dependency on the docker daemon
now, so this would not be a change.

Could be I'm wrong, but you could test this theroy by disabling or removing
the docker daemon

On Tue, Mar 15, 2016 at 10:21 PM, Guangya Liu notifications@github.com
wrote:

[2016-03-16 06:43] gyliu513 commented on #42
Yes, the mesos will not depend on docker daemon now, but the problem is that the mesos containerizer will try to provision a rootfs for docker container with docker image.

[2016-03-16 06:46] cantbewong commented on #42
is there a Mesos JIRA or design document for this change?

On Tue, Mar 15, 2016 at 11:43 PM, Guangya Liu notifications@github.com
wrote:

[2016-03-16 06:55] gyliu513 commented on #42
https://issues.apache.org/jira/browse/MESOS-2840

[2016-03-22 14:13] davidvonthenen commented on #74
This issue should be fixed now. Builds against 1.9.3.

[2016-03-22 14:13] #74 closed, assigned to nobody

[2016-03-24 12:47] pradeepchhetri commented on #42
@cantbewong As far as i got by reading the design documentation and docs in mesos repository, there are various things related to docker which are still not added in mesos containerizer and definitely its not production ready (experimental support only).
For example: currently it doesn't support BRIDGE networking mode (https://github.com/apache/mesos/blob/master/docs/container-image.md#docker-supp

[2016-03-25 04:29] gyliu513 commented on #42
The network support will be coming soom here with CNI support https://issues.apache.org/jira/browse/MESOS-4641

[2016-04-02 20:07] jdef opened #88 "hung on unmount operation"
I created a task in Marathon, watched it come up, let it run for a few min, then suspended the app (sets instances to zero). I ended up with a hung unmount op on the slave the task was running on. The task appears as KILLED in mesos. I have a single slave node cluster. Now I can't launch a new task trying to use a (different) rexray vol. Attempting to do so results in a task stuck in STAGING. So t

[2016-04-02 20:12] jdef commented on #88
forcibly killing the `dvdcli unmount` process appears to unblock things, but is (obviously) not an ideal solution.

[2016-04-02 20:14] jdef commented on #88
... and this appears to confuse the system, which now has mounted two devices to the same point in the filesystem:

[code]

[2016-04-02 20:18] jdef commented on #88
second volume was created with these specs (should have been a new vol since it was not preexisting):

[code]

[2016-04-02 20:19] jdef commented on #88
rexray config:

[code]

[2016-04-02 22:41] clintkitson commented on #88
@jdef I believe the `16 Device in use; refusing to close` message is the key here. The mesos-module-dvdi does accounting to determine when it is appropriate to unmount a volume from the system. The purpose here is if there are multiple containers sharing a volume, then it is the modules responsibility to track this and ensure an unmount (host level operation) does not occur until all container are

[2016-04-04 20:09] jdef commented on #88
@clintonskitson lsof results:

[code]

[2016-04-04 20:11] clintkitson commented on #88
@jdef Can you perform something like `lsof -V | grep test-rexray-volume`?

[2016-04-04 20:12] jdef commented on #88
comes back empty

On Mon, Apr 4, 2016 at 4:11 PM, Clinton Kitson notifications@github.com
wrote:

##

James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2016-04-04 20:13] jdef commented on #88
@clintonskitson i'm going to try with an explicit mount under `/etc` to see if that makes a difference

[2016-04-04 20:14] clintkitson commented on #88
If it is empty, can you try an unmount of the path?

[2016-04-04 20:16] jdef commented on #88
appears to succeed:

core@ip-10-0-0-142 ~ $ sudo umount /tmp/test-rexray-volume
core@ip-10-0-0-142 ~ $ cat /proc/mounts |grep -e rexray
core@ip-10-0-0-142 ~ $

On Mon, Apr 4, 2016 at 4:14 PM, Clinton Kitson notifications@github.com
wrote:

##

James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2016-04-04 20:20] clintkitson commented on #88
Can you replicate the problem where it hung before? It would have hung because there were open files. Technically, since the container that has the volume mounted and is using the files is done, there should not be any files open. I am curious to see if you could do a `lsof` during this time to see why the mount process is hanging.

[2016-04-04 20:34] jdef commented on #88
well, i just tried to launch a new task with a new volume instance but rexray is hanging on trying to mount it. this is the same slave that I just manually ran the `umount` command on.

[code]

the error I produced today was on a completely new cluster vs the error I first reported. so it can be reproduced. the containers i'm spinning up aren't touching any files in the volume, so i'm not sure wha

[2016-04-04 20:36] clintkitson commented on #88
@jdef Waiting for volume attachment to complete looks to be a EC2 based problem and might align to a bug they have in their Ubuntu OS image with the EBS driver. Can you reboot the instances and try again?

[2016-04-04 21:35] jdef commented on #88
FWIW this is coreos, not Ubuntu. I've rebooted the slave. Once rebooted, the task launched just fine (`tail -f /dev/null`).

`lsof -V` did not show anything accessing the volume filesystem

i killed the task. and `dvdcli unmount` is hanging again trying to unmount the volume. running `lsof -V` still shows that no one is accessing the volume filesystem

[2016-04-04 21:36] jdef commented on #88
[code]

[2016-04-04 21:42] jdef commented on #88
to be clear, once `dvdcli unmount` hangs further task launches (using ext vols, or not) are all blocked in TASK_STAGING and eventually time out.

[2016-04-05 00:08] clintkitson commented on #88
What is the coreos rev or AMI? I will try and reproduce.

On Monday, April 4, 2016, James DeFelice notifications@github.com wrote:

[2016-04-05 03:32] jdef commented on #88
looks like this AMI CoreOS-stable-766.5.0-hvm

[2016-04-05 03:34] clintkitson commented on #88
Can you review the devices that show up under /dev/disk/by-id?

Curious if something is claiming for block devices as they appear.

On Monday, April 4, 2016, James DeFelice notifications@github.com wrote:

[2016-04-05 03:36] jdef commented on #88
core@ip-10-0-0-142 ~ $ ls -laF /dev/disk/by-uuid/
total 0
drwxr-xr-x 2 root root 160 Apr  4 21:11 ./
drwxr-xr-x 7 root root 140 Apr  4 20:38 ../
lrwxrwxrwx 1 root root  11 Apr  4 20:38
01d6bc7e-0ab0-49f0-9e24-23ff5fc001c9 -> ../../xvda9
lrwxrwxrwx 1 root root  11 Apr  4 20:38
0321af0d-eff8-4f69-9f05-9f9f7bd3c7cf -> ../../xvda3
lrwxrwxrwx 1 root root  10 Apr  4 20:38
15797eed-93bd-43ab-a7ad-19e7e1f

[2016-04-05 03:37] clintkitson commented on #88
Ok looks normal, thanks.

On Monday, April 4, 2016, James DeFelice notifications@github.com wrote:

[2016-04-05 03:41] jdef commented on #88
so, it actually doesn't block indefinitely... the job I tried to start  about 6 hours ago finally started about 20m ago. slave logs have this to say:

[code]

immediately after this log output, my (formerly) blocked non-volume-using task was finally launched (actually it experienced a TASK_FAILED because it had started so long ago and marathon had since killed it, but ... it finally caught up to t

[2016-04-05 03:43] jdef commented on #88
rexray had something to say about the same time:

[code]

[2016-04-05 04:38] clintkitson commented on #88
@jdef With a fresh system can you try and leverage the `dvdcli` commands manually and check the results?

Please replace `rexray` and `test` with appropriate names for your config. This should simulate the most basic usage.

`/opt/bin/dvdcli mount --volumedriver=rexray --volumename=test`
`/opt/bin/dvdcli unmount --volumedriver=rexray --volumename=test`

[2016-04-05 04:40] clintkitson commented on #88
@jdef Can you also paste in the marathon application definition that you are using?

[2016-04-05 15:31] jdef commented on #88
Apparently we're running a forked version of rexray that tries to use IAM credentials instead of credentials coded into the configuration file. Upon further review it seems likely that the library code responsible for EC2 auth is failing to refresh credentials upon token expiration. That said, it's not clear to me that the credentials issue is directly related to hanging unmount commands, especial

[2016-04-07 02:48] jdef commented on #88
when I **manually** run the dvdcli mount/unmount command they work just fine with the IAM fixes @branden incorporated. bumped into #89 and that's stalling further testing.

[2016-04-07 03:02] jdef commented on #88
hm... IAM problems have been resolved and the **hung unmount** problem persists:

[code]

[2016-04-07 06:33] jdef commented on #88
using filesystem/linux isolator in conjunction with this isolator fixes the problem. without the filesystem/linux isolator the host mountns is contaminated with the mounts added to the container. core team says that the hosts /tmp was being polluted by the container w/o the filesystem/linux isolator

[2016-04-07 15:21] jdef commented on #88
I've left this issue open because this dependency on the linux/filesystem isolator should be documented

[2016-04-07 15:26] clintkitson commented on #88
@jdef Doing some more testing on our side. To me this doesn't make sense that this would be required.

[2016-04-07 15:43] clintkitson commented on #88
@jdef So the troubling thing here is that I believe I simulated relevant options by supplying `DVDI_VOLUME_NAME, DVDI_VOLUME_DRIVER, DVDI_VOLUME_CONTAINERPATH`. I did this from 0.27.0 and everything looks to be working fine.

So the question I am moving towards is whether there is some type of race condition introduced in a newer rev of Mesos. The failure of the detach is based on things not being

[2016-04-07 22:05] jdef commented on #88
one of the symptoms is that when a container path mount is created /tmp (in our test system) within the container mountns it's propagating back to the hosts mountns. the container mountns is destroyed upon container teardown but the mount still exists in the host mountns. rexray then tries to detach the volume but can't.

our core team tells me this is because without the linux/fs isolator, /tmp e

[2016-04-07 22:15] clintkitson commented on #88
@cantbewong @jdef Having a mountpath leak from a container to the hosts mount doesn't sound right. Is there any documentation to point us to online that discusses this? Can you try this on an Ubuntu 14.04 based host?

[2016-04-07 22:17] jieyu commented on #88
Ubuntu 14.04 does not have this issue because by default, all mounts are private.

Centos7/fedora23/coreos will have this issue because by default, all mounts are shared.

[2016-04-07 23:42] gyliu513 opened #90 "[Question] Why does the dvdi need to call "unmount" when isolator "cleanup""
Here come a question is `Why does the dvdi need to call "unmount" when isolator "cleanup"`? I did not see much impact if we do not do `unmount` when isolator `cleanup` or `recover`, the only issue is that there will be some garbage mount info in`/proc/mounts`, any comments?

[2016-04-07 23:46] gyliu513 opened #91 "[Question] How can I check the bind mount info via namespace after "dvdcli mount""
Does there are any files can enable me do the check?

The reason is that when I was doing the project of https://issues.apache.org/jira/browse/MESOS-4355 , the shepherd has a question: He think that we do not need do `dvdcli umount` when `cleanup` or `recover`, we want to make sure there is no impact if we did not call `unmount` when `cleanup` or `recover`.

Another point from shepherd is that we

[2016-04-08 04:21] clintkitson commented on #88
@cantbewong Is it possible that when we leverage the fileystem isolator code from Mesos that we aren't invoking it as a private mount? I could see this being the problem if `DVDI_VOLUME_CONTAINERPATH` is being invoked.

[2016-04-08 04:24] clintkitson commented on #91
Let me leave this one for @cantbeong to address.

[2016-04-08 04:25] clintkitson commented on #90
Leaving this one for @cantbewong

[2016-04-08 14:15] gyliu513 commented on #90
@cantbewong any comments on this? Thanks.

[2016-04-12 20:39] cantbewong commented on #90
For external mounts, you want to unmount so that the task can be rescheduled to another agent node.

Some storage platforms do suppport pre-emptive mount, but some do not. Even when a pre-emptive mount is supported, it takes more time if the external volume is mounted elsewhere

[2016-04-12 20:41] cantbewong commented on #90
Please close this issue if I answered your question

[2016-04-12 22:23] jdef opened #92 "isolator should invoke potentially blocking operations async from module API handlers"
related to #88, if calls to `os::shell` to execute `dvdcli` hang or block for significant amounts of time then the task launch pipeline breaks down and tasks become stuck in `STAGING`. part of the reason why this happens is because the isolator module invokes potentially blocking operations synchronously from within the mesos module API handlers.

a better approach would be to invoke such commands

[2016-04-12 23:36] gyliu513 commented on #90
@cantbewong can you please show more detail for `pre-emptive mount`? Does there an example for this?

[2016-04-12 23:45] cantbewong commented on #88
Assuming the mount being discussed is the bind mount used to isolate a container:

the mount command is queued as follows
prepareInfo.add_commands()->set_value( "mount -n --rbind " + mountPoint + " " + containerPath);

No efforts are made to specify private vs shared so if RedHat and Ubuntu differ as to default, the private vs. shared state of the bind mount will differ.

I found documentation tha

[2016-04-12 23:45] gyliu513 commented on #90
Also can you please show more detail for `For external mounts, you want to unmount so that the task can be rescheduled to another agent node.` ? Which framework support task reschedule? Does the reschedule means that if the task failed, find another agent host to re-run the task again? Thanks @cantbewong

[2016-04-12 23:48] cantbewong commented on #81
I tested this using the RexRay volume driver and had no issues when using a volume name of "123"

[2016-04-12 23:49] jdef commented on #88
I think @jieyu expressed concerns that not all versions of `mount`
supported the same set of flags. Should probably determine whether the flag
you're proposing is available on the OS versions that should be supported

On Tue, Apr 12, 2016 at 7:45 PM, Steve Wong notifications@github.com
wrote:

##

James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2016-04-13 00:15] cantbewong commented on #90
For detail on pre-emptive mount please see the section titled Pre-emptive Volume Mount right on the readme.md file for this repo.

Marathon supports rescheduling to another agent node and this is what we test with. There is no reason that this can't be done by other Frameworks as well. One use case is a scenario where an agent node crashes or is permanently retired. Another is a batch workloads th

[2016-04-13 01:06] gyliu513 commented on #81
Thanks @cantbewong I think that we can close this now.

[2016-04-13 01:09] gyliu513 commented on #90
@cantbewong thanks.

[2016-04-13 01:09] #90 closed, assigned to nobody

[2016-04-13 01:10] gyliu513 commented on #91
I was using convoy nfs driver first and the driver will not generate mount point, after switching to devicemaper, it works well and I can check the mount point via /proc/mounts.

[2016-04-13 01:10] #91 closed, assigned to nobody

[2016-04-13 06:56] cantbewong commented on #92
I looked at the Marathon code and I agree that this is a good idea and should be feasible. Thanks for the input.

[2016-04-13 06:59] cantbewong commented on #88
@jdef can you provide a suggestion for a supported OS list?

[2016-04-13 07:00] #81 closed, assigned to nobody

[2016-04-14 18:06] jieyu commented on #92
To add to @jdef 's description, this problem is pretty severe. If any operation in dvdi module blocks, ALL subsequent container launch/update/destroy will be BLOCKED, irrespective of whether the container is using external volume or not.

Fixing that might involve serializing dvdcli operations. This is because when you use Subprocess, the order in which dvdcli operations are executed is non-determ

[2016-04-14 18:08] jieyu opened #93 "The isolator should checkpoint mounts BEFORE the actual mount operation."
Currently, the isolator checkpoints the mount AFTER doing the actual mount. The consequence of that if the slave crashes after doing the mount before the checkpointing, it loses track of that mount during recovery. One obvious issue is mount leaking. There might be other issues.

[2016-04-14 18:17] jieyu opened #94 "Checkpointed data should not be put in agent's metadata workdir by default."
We should avoid that since that directory is owned by the Mesos agent. Mesos does not expect an isolator to put checkpointed data there. We should put it under /var/run/mesos/isolators/<isolator-name>.

The directory in which the checkpointed data is put should be cleaned up on reboot. Otherwise, the isolator will try to recovery the checkpointed data after the reboot, thinking that mounts are sti

[2016-04-14 18:21] jieyu opened #95 "Isolator recovery is problematic with legacy mounts."
The isolator determines the 'legacy mounts' (no active container is using that) during slave recovery by just looking at the checkpointed state and will umount those legacy mounts immediately. However, for known orphans, they might not be killed yet (known orphans are those containers that are known by the launcher). The Mesos agent will do an async cleanup on those known orphan containers.

Umoun

[2016-04-14 18:25] jieyu commented on #88
@jdef @cantbewong the problem regarding the make-rslave|make-rprivate issue is described here in this Mesos ticket. It does not work properly on ubuntu 14.04
https://issues.apache.org/jira/browse/MESOS-3806

[2016-04-14 18:59] cantbewong commented on #95
when this was developed, I did a test:
1. start a task with an external mount
2. Kill the Mesos slave process to simulate a crash..
3. The task terminates
4. Mesos slave service is restarted

I did not observe a cleanup call related to the task -resulting in a mount leak

What are the guarantees in both a slave service crash and a full cluster node restart?
Should cleanup always be called for ever

[2016-04-14 19:18] cantbewong commented on #93
Your statement on the order of checkpointing occurring after the mount is correct

Order is:
1. mount at OS level
2. queue "Future" bind isolation mount for container
3. record checkpoint

Note that the checkpoint record includes the munt location which is NOT deterministic and can only be recorded after the mount.

The mountpoint is there to handle cases where multiple containers a=on the agent r

[2016-04-14 20:16] jieyu commented on #95
A container is called orphan if it's not in 'ContainerState' but the launcher detects it (e.g., through cgroups). This is a common when the operator wants to do an upgrade that requires killing all existing containers. THe operator usually does by stop the agent, wipe the metadata directory, and restart the slave. In that case, 'inUseMounts' does not contain the mounts for that orphan container. S

[2016-04-14 20:21] jieyu commented on #93
Do you need to checkpoint mount point location? Or you just need provider + volume.

In other words, if your recovery just need provider + volume, why are you checkpointing the mount point (and other informations)?

[2016-04-14 20:53] cantbewong commented on #95
OK, so I understand you are saying the mount will be present, and ContainerState will NOT contain a record for the container.

Current recover implementation is:
mount will be in legacyMounts
mount will not be in inUseMounts

Unmount is called for any mount that is in legacyMounts but not in inUseMounts.
There is no other Unmount processing.

So the change you propose would result in no unmount ca

[2016-04-14 20:54] cantbewong commented on #94
OK, this change makes sense and is feasible for next release

[2016-04-14 21:01] cantbewong commented on #93
The bind mount needs the mount point location. Provider + volume is a usually unique identifier but is not sufficient to make a bind call by itself. It might be possible to make a query to the provider but this takes time - and may result in no response adding the complexity that you would want this asynchronous. And some providers, such as Amazon allow duplicate volume names, meaning that the que

[2016-04-14 21:05] cantbewong commented on #93
So to make it clear, when a second container arrives, requesting a mount of a volume that is already mounted and in use by another container, we need a way to determine the mount point location returned by the mount performed for the first container

[2016-04-15 01:27] clintkitson commented on #88
The docker solution here is within a mount package they have that calls the
kernel via C I believe. Might be worth a look to see about leveraging that
as a long term solution versus calling a CLI that may continue to differ
between OS dist is over time.

On Thursday, April 14, 2016, Jie Yu notifications@github.com wrote:

[2016-04-15 02:26] jieyu commented on #95
For 1b case, the container will still be in ContainerState list because the agent believes that it's still running. The containerizer will reap on the checkpointed pid and find out that the container is terminated. It'll subsequently call 'destroy', resulting in 'cleanup' being called.
https://github.com/apache/mesos/blob/master/src/slave/containerizer/mesos/containerizer.cpp#L573

[2016-04-15 02:41] jieyu commented on #93
Just to clarify, that duplicated volume names sounds weird to me. What's the semantics? Say you mount the same volume name (same driver) twice, there'll be two mounts in the host mount table? What happens if I do a subsequent unmount? Will that unmount both? or just one of them? If just one of them, which one will be unmounted?

Now I see that you need to checkpoint the mount points. Thanks for th

[2016-04-15 16:21] jieyu commented on #93
I looked at the docker volume specification:
https://docs.docker.com/engine/extend/plugins_volume/

/VolumeDriver.Mount
"Docker requires the plugin to provide a volume, given a user specified volume name. This is called once per container start. If the same volume_name is requested more than once, the plugin may need to keep track of each new mount request and provision at the first mount request

[2016-04-15 17:24] clintkitson commented on #93
The Docker engine does not keep track of state or mounted volume/container
counts today. But this isn't to say this is ideal.

For example, what if the Docker engine crashes and along with it the
containers. The plugin would have zero knowledge about this occurring other
than in the form of more requests and a higher tracking count. This will
lead to the volume never getting unmounted.

The contai

[2016-04-15 17:47] jieyu commented on #93
@clintonskitson that makes sense. Thanks for the explanation.

[2016-04-18 17:17] clintkitson opened #97 "Support explicitCreate flag from dvdcli"
@cantbewong @dvonthenen

https://github.com/emccode/dvdcli/pull/20

There is a 0.2.0 release of dvdcli coming out shortly. I reviewed the current isolator code, and I believe there should not be any net effect as is.

There was a change in the `dvdcli` to update it against the Docker 1.11.0 volume API. The biggest change is that we now have the ability to check whether a volume exists prior to any

[2016-04-18 22:41] cantbewong commented on #42
published in v0.4.2

[2016-04-18 22:41] #42 closed, assigned to cantbewong

[2016-04-18 22:42] cantbewong commented on #41
published in v0.4.2

[2016-04-18 22:42] #41 closed, assigned to cantbewong

[2016-05-07 22:26] mitel opened #99 "incorrect path to dvdcli on CoreOS"
Hello, the library will not work on CoreOS (eg: DC/OS) due to the following:

isolator/isolator/docker_volume_driver_isolator.hpp:
static constexpr char DVDCLI_MOUNT_CMD[]          = "/usr/bin/dvdcli mount";
static constexpr char DVDCLI_UNMOUNT_CMD[]        = "/usr/bin/dvdcli unmount";

whereas dvdcli will install in /opt/bin on CoreOS:
if [ -n "$IS_COREOS" ]; then
  BIN_DIR=/opt/bin
  BIN_FILE=$B

[2016-05-17 22:27] davidvonthenen commented on #99
There is a PR https://github.com/emccode/mesos-module-dvdi/pull/100 ending that should help address this in a generic fashion

[2016-05-17 22:34] davidvonthenen commented on #94
Currently the checkpoint info is stored at:
/tmp/mesos/meta/dvdimounts.pb

We will be moving to:
/var/run/mesos/isolators/mesos-module-dvdi/dvdimounts.pb

Unless anyone has any objections.

[2016-05-17 23:01] davidvonthenen commented on #94
PR https://github.com/emccode/mesos-module-dvdi/pull/102 pending

[2016-05-17 23:52] davidvonthenen commented on #99
The PR mentioned above has been merged. We can now specify which DVDCLI to use by fully qualified path per task. If this doesn't meet you requirements, we can revisit the issue.

[2016-05-17 23:52] #99 closed, assigned to davidvonthenen

[2016-05-18 13:58] davidvonthenen commented on #94
Has been merged. If there any issues, please let us know.

[2016-05-18 13:58] #94 closed, assigned to davidvonthenen

[2016-05-18 13:58] davidvonthenen commented on #97
Will have a PR today for this.

[2016-05-18 14:57] davidvonthenen commented on #97
PR submitted.

[2016-05-18 15:07] davidvonthenen commented on #97
Merged.

[2016-05-18 15:07] #97 closed, assigned to davidvonthenen

[2016-05-18 15:21] davidvonthenen commented on #92
@jdef, Just for my understanding, what happens in the case for docker type workloads/containers? The specific case I am thinking about is if we mount the volume async, come out of staging state, and the application comes up without the volume data being available, the application might error out from the data not being there.

Maybe I am misunderstanding how to use subprocess and what its capabili

[2016-05-18 15:39] jdef commented on #92
@jieyu how did we handle this scenario with the docker volume isolator
recently added to mesos?

On Wed, May 18, 2016 at 11:21 AM, David vonThenen notifications@github.com
wrote:

##

James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2016-06-07 14:49] jgarcia-mesosphere opened #104 "Isolator does not seem to acknowledge --work_dir option in Mesos"
When testing out mesos-module-dvdi in the context of DC/OS 1.7, a user reported this abort upon integrating the module and restarting the agent:

[code]

It looks like the module did not acknowledge the `MESOS_WORK_DIR=/var/lib/mesos` default in DC/OS,  and attempted to read from a missing folder. This was confirmed by creating the folder with appropriate permissions, which un-blocked mesos-slave.

[2016-06-07 14:57] davidvonthenen commented on #104
Hi @jgarcia-mesosphere,

The working directory is independent of where the checkpointed data for the isolators mount tracking goes. Based on feedback from other people at Mesosphere, it was decided that the checkpoint data will reside in /var/run/mesos/isolators/mesos-module-dvdi. Please see this issue https://github.com/emccode/mesos-module-dvdi/issues/94 for more details.

This fix is currently

[2016-06-07 16:13] jgarcia-mesosphere commented on #104
Awesome thanks!

[2016-06-07 16:13] #104 closed, assigned to nobody

[2016-06-13 19:32] justinclayton opened #107 "0.4.3 on mesos-0.28.2 crashes immediately on startup"
[code]

Command used:

[code]

[2016-06-13 19:54] davidvonthenen commented on #107
I will take a look at this.

[2016-06-14 15:12] davidvonthenen commented on #107
Hi @justinclayton, I have been testing the binary in the 0.4.3 release and I haven't run into an issues. I am using a minimal configuration to eliminate any possible conflicts between the 0.28.1 and 0.28.2 versions. I have tried running the agent in both service and command line modes and everything seems to work ok.

This is my minimal configuration:

[code]

Would it be possible to stop all your

[2016-06-14 15:27] davidvonthenen commented on #107
I have been looking at diffs between 0.28.1 and 0.28.2 and it looks like there was significant changes specifically in the mesos linux filesystem isolator. Continuing to look into this.

[2016-06-14 15:48] davidvonthenen commented on #107
I think I see the issue, but I need to verify it. If this is what I think the issue is, I don't see how the 0.28.2 binary is working on your 0.28.1 configuration. It should also be failing there as well with the same issue providing the configuration flags on your 0.28.1 and 0.28.2 are the same.

[2016-06-14 17:19] davidvonthenen commented on #107
@justinclayton  I have a test binary that I would like you to take a look at. I believe this should fix the issue. I think the issue stems from one of two scenarios:
- starting from a previous fresh install in which the agent had never been started (prior to adding the isolator) and thus had no checkpoint data
- changing the mesos working directory from prior active session and thus had no checkpo

[2016-06-15 00:13] justinclayton commented on #107
@dvonthenen Your test binary worked perfectly. Thanks!

And just to be clear: When I said earlier that 0.28.1 did work, I meant dvdi 0.4.2-0.28.1 running on mesos 0.28.1. I never tried to mix and match them.

[2016-06-15 14:57] davidvonthenen commented on #107
@justinclayton thanks again for your help. I will be spinning up another release containing this fix. Will close this issue out when the release is available.

[2016-06-15 20:44] davidvonthenen commented on #107
Release 0.4.4 has been published with this fix

https://github.com/emccode/mesos-module-dvdi/releases/tag/v0.4.4

[2016-06-15 20:44] #107 closed, assigned to nobody

[2017-01-13 03:30] andrewl3wis opened #127 "Can't load lib on Ubuntu 16.04"
When I try to add the module to mesos it fails to start and spits out:

    Jan 13 03:00:01 ip-10-0-4-73 mesos-slave[29629]: WARNING: Logging before InitGoogleLogging() is written to STDERR
    Jan 13 03:00:01 ip-10-0-4-73 mesos-slave[29629]: I0113 03:00:01.719745 29605 main.cpp:243] Build: 2016-11-16 01:30:49 by ubuntu
    Jan 13 03:00:01 ip-10-0-4-73 mesos-slave[29629]: I0113 03:00:01.719815 296

[2017-01-14 00:33] davidvonthenen commented on #127
Hi @andrew-t-l

Can you do an ldd on libmesos_dvdi_isolator-1.1.0.so just to verify first?

When you installed mesos, apt-get should have installed all the prerequisite libraries including libprotobuf. Give this a try:
[code]

[2017-01-14 11:35] andrew-t-l commented on #127
Hey thanks for getting back to me, libprotobuf-dev is/was already installed.

ldd:
    ldd /usr/lib/libmesos_dvdi_isolator-1.1.0.so
    linux-vdso.so.1 =>  (0x00007ffc1ad96000)
    libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007f859bd10000)
    libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007f859b947000)
    libgcc_s.so.1 => /lib/x86_64-linux-gnu/libgcc_s.so.1 (0x00007f859

[2017-01-14 11:56] andrewl3wis commented on #127
Hey thanks for getting back to me, libprotobuf-dev is/was already installed and here is the output of ldd:

    ldd /usr/lib/libmesos_dvdi_isolator-1.1.0.so

    linux-vdso.so.1 =>  (0x00007ffdbad1d000)
    libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007f6ded454000)
    libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007f6ded08b000)
    libgcc_s.so.1 => /lib/x86_64-linux-gnu/

[2017-01-17 15:57] davidvonthenen commented on #127
Thanks for the feedback. Will need to stand up an environment for me to debug. We build the binary on Ubuntu 14.04 and it should be compatible with 16.04, but we don't test or verify on that platform at all.

[2017-01-17 17:00] davidvonthenen commented on #127
@andrew-t-l here is one last effort before I stand up an environment. Please give this a try. I number of people on 16.04 have reported these libs dont get installed by default and are the correct ones.

sudo apt-get purge libprotobuf-lite9v5
sudo apt-get install libprotobuf-lite9v5

You may need a reboot after installing the libs.

[2017-02-06 21:18] andrewl3wis commented on #127
No dice, same error. Worked fine with CentOS 7, so might be able to use that for now.

[2017-02-07 17:03] davidvonthenen commented on #127
@andrew-t-l: Thanks for the info. I will stand up a 16.04 environment and let you know what I find.

[2017-03-22 16:02] cantbewong opened #128 "Support for Mesos 1.2.0 needed"
Mesos 1.2.0 was recently released and should be supported by the isolator

[2017-04-15 00:18] uschen commented on #88
Same issue
coreos stable (1235.12.0)

Apr 15 00:11:57 10.1.21.50 rexray[1747]: time="2017-04-15T00:11:57Z" level=info msg="waiting for volume detachment to complete" driverName=ec2 force=false moduleName=default-docker runAsync=false volumeID=vol-xxxxx

docker ps etc wont response

[2017-04-28 15:42] chadleeshaw commented on #128
+1

[2017-05-09 20:42] chadleeshaw commented on #128
Thanks for the merge!  Can we get a built shared object as well?

[2017-05-13 20:12] drcrallen opened #131 "What's the difference?"
Since https://github.com/codedellemc/mesos-module-libstorage also uses dvdcli, why would one be used vs the other?

[2017-05-16 00:51] davidvonthenen commented on #128
@utsysadmin Yep, I will try and cut a release this week. I am at ApacheCon right now so will be doing that along with taking care of my day to day stuff.

[2017-06-09 03:37] hhkbble opened #132 "Support for Mesos 1.3.0 needed"
Mesos 1.3.0 was recently released and should be supported by the isolator

[2017-06-09 04:25] davidvonthenen commented on #132
@haoyixin I will take a look at it in the morning and hopefully cut a release. There have been other updates to different versions. Good to get a formal release out.

[2017-06-09 16:00] davidvonthenen commented on #132
Official GA bits aren't available yet for download. In the mesos mailing list, they just had a vote on rc3. Will revisit when it GAs.

[2017-06-13 03:22] hhkbble commented on #132
@dvonthenen thx for recent reply and 1.3.0 GA had released now ^_^

[2017-07-26 00:49] Lax77 commented on #132
Mesos 1.3.0 is been out for a while, is there a plan to release compatible isolator release? Unfortunately this is limiting us not to upgrade Mesos beyond version 1.2.0

[2017-07-26 17:19] davidvonthenen commented on #132
@Lax77 @haoyixin Have you tried using the native external mount isolator that is baked into mesos? It is essentially a fork of this project that has been modified slightly to use proper mesos speak.
Docs: https://mesosphere.github.io/marathon/docs/external-volumes.html

If you have, why do you prefer using our version of the isolator? Just trying to understand the use case(s).

[2017-07-26 20:17] Lax77 commented on #132
Thanks for the response @dvonthenen . No specific reason, I wasn't aware of the native mount isolator. I happened to use Rex-ray and somehow got referred to this project.

Btw, in the link you given in do not find the link to native external mount isolator installation, only about the external volume configuration part which is assuming isolator is in place. Do you happened to have link where I ca

[2017-07-28 20:49] davidvonthenen commented on #132
@lax77 its native to mesos meaning that it ships with mesos out of the box. nothing to download and install. You still need rexray to be installed and configured, but the isolator part is taken care of.

[2017-07-31 17:45] Lax77 commented on #132
Ok, Thanks @dvonthenen

[2017-12-14 16:06] chadleeshaw opened #133 "Support for Mesos 1.4.1 Needed"
Support for Mesos 1.4.1 Needed

[2017-12-14 16:09] #133 closed, assigned to nobody

[2017-12-14 16:11] davidvonthenen commented on #128
I am assuming this works since we havent gotten any feedback. Closing.

[2017-12-14 16:11] #128 closed, assigned to cantbewong

[2017-12-14 16:13] #132 closed, assigned to nobody

[2017-12-14 16:13] davidvonthenen commented on #127
Please see:
https://github.com/codedellemc/mesos-module-dvdi/issues/132

Will reopen if still have issues.

[2017-12-14 16:13] #127 closed, assigned to davidvonthenen

[2017-12-14 16:16] davidvonthenen commented on #131
libstorage has been re-absorbed into REX-Ray.

Also, as of mesos 1.0 or higher, native external volume support is available. Please take a look at:
https://github.com/codedellemc/mesos-module-dvdi/issues/132

[2017-12-14 16:16] #131 closed, assigned to nobody

[2018-04-05 14:48] maricaantonacci opened #134 "Support for Mesos 1.5.0"
Are there any plans about adding the support for the current mesos version (1.5.0)?

[2018-04-05 14:57] davidvonthenen commented on #134
@maricaantonacci Please take a look at this issue https://github.com/thecodeteam/mesos-module-dvdi/issues/132

There is a native isolator that has been shipping with Mesos since 1.0.